.home > header {
    position: relative;
}
.header-text {
    position: absolute;
    color: white;
    top: 10%;
    left: 60%;
}

.content {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 10px 1px rgba(0, 158, 197, 0.521);
    background-color: rgba(0, 158, 197, 0.521);
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.content > img {
    width: 40%;
    max-height: 300px;
    border-radius: 20px;
    justify-self: end;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
